
html {
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  height: auto;
}



/*####################################
############## HEADER ##############
######################################*/

/* Logo Div */
.homepageLogoDiv {
  text-align: center;
}

/* Lamp and Light Living Logo Image */
.homepageLogo {
  width: 16%;
  margin-top: 40px;
  margin-bottom: 40px;
}




/*####################################
############## Homepage ##############
######################################*/

/* Slideshow container */
.slideshowContainer {
  position: relative;
  margin: auto;
}

/* Slideshow images */
#homepageBackgroundRiver,
#deskImg,
#girlImg {
  max-width: 100%;
  max-height: 100%;
}

/* Next & previous buttons for the slideshow */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Next button */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover for next and prev buttons */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Text over the images */
.homepageCaptionText {
  color: black;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  top: 50px;
  left: 50px;
  width: auto;
  animation: fadeInRight 1.5s forwards;
}

#girlImgCaptionText{
  top: 150px; 
  left: 80px; 
  color: white;
}

#riverCaptionText{
  top: 300px; 
  left: 250px; 
  color: white; 
  font-family: 'Geneva', sans-serif;
}

/* Buttons over the images */
.homepageCaptionBtn {
  border: none;
  background-color: #333;
  color: white;
  transition: 0.6s ease;
  padding: 10px 15px;
  animation: fadeInLeft 1.5s forwards;
  width: 150px;
}

/* Hover for the buttons over the images */
.homepageCaptionBtn:hover {
  background-color: white;
  color: #333;
  border: 1px solid #333;
}

/* Animations for the fading text/buttons */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* Div that holds the buttons and text at the bottom of the homepage */
.homepageButtonContainer {
  width: 100%;
  display: inline-block;
  padding-bottom: 80px;
  padding-top: 40px;
}

/* Div for the homeschool button and text at the bottom of the homepage */
#downloadHomepageHomeschool {
  width: 50%;
  text-align: center;
  float: left;
}

/* Div for the Bible studies button and text at the bottom of the homepage */
#downloadHomepageStudies {
  width: 50%;
  text-align: center;
  float: right;
}

/* Text styling for specific H classes */
#downloadHomepageStudies h1,
#downloadHomepageHomeschool h1,
#downloadHomepageStudies h3,
#downloadHomepageHomeschool h3 {
  font-weight: lighter;
  font-family: DejaVu Sans Mono, Helvetica, sans-serif;
  color: #333;
}

/* Text styling for specific H classes */
#downloadHomepageStudies h1,
#downloadHomepageHomeschool h1 {
  font-size: 28px;
}

/* The button for downloads at the buttom of the homepage */
.homepageDownloadButton {
  border: solid 3px #333;
  background-color: white;
  color: #333;
  padding: 10px 70px;
  font-family: DejaVu Sans Mono, Helvetica, sans-serif;
  transition: 0.7s ease;
}

/* Hover on the button for downloads at the buttom of the homepage */
.homepageDownloadButton:hover {
  background-color: #333;
  color: white;
}

/***************************** MOBILE Homepage *******************************/
@media only screen and (max-width: 768px) {

  .homepageLogo {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  /* Homepage caption text */
  .homepageCaptionText {
    font-size: 25px; 
    top: 20px; 
    left: 20px; 
  }

  #homepageBackgroundRiver,
  #deskImg,
  #girlImg {
    height: 300px; 
    object-fit: cover; 
  }

  #riverCaptionText{
    top:80px;
    left:50px;
  } 

  /* Homepage caption button */
  .homepageCaptionBtn {
    padding: 4px 6px; 
    width: 110px; 
  }

  /* Homepage button container */
  .homepageButtonContainer {
    padding-bottom: 20px; 
    padding-top: 20px;
  }

  /* Homepage download button */
  .homepageDownloadButton {
    padding: 8px 45px; 
  }


/* Text styling for specific H classes */
#downloadHomepageStudies h1,
#downloadHomepageHomeschool h1 {
  font-size: 22px;
}

/* The button for downloads at the buttom of the homepage */
.homepageDownloadButton {
  border: solid 2px #333;
  padding: 10px 70px;
}

#downloadHomepageStudies h3,
#downloadHomepageHomeschool h3 {
  display: none;
}

.homepageButtonContainer {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
}

#downloadHomepageHomeschool {
  width: 100%;
  text-align: center;
}

#downloadHomepageStudies {
  width: 100%;
  text-align: center;
}


}




/* Add a black background color to the top navigation */
.navbar {
  overflow: hidden;
  background-color: black;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.9s ease-out;
  padding-left: 50px;

}

.lineContainer {
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  margin-top: 8px;
  width: 96%;
  height: 36px;
  padding: 0;


}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin: 8px 14px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 14px;

}

#loginNav {
  float: right;
}



/* Hide the link that should open and close the topnav on small screens */

#nav-icon-bars{
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #6f6e6e;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}


/***************************** MOBILE Navbar *******************************/
@media only screen and (max-width: 768px) {
  .nav-icon-bars{
    display: block;
    color: black;
    float: right;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 30px;
    }

  .navbar{
    display: none;
    height: 200px;
    padding-left: 0px;
    background-color: #f2f2f2;

  }


  .navbar a {
  justify-content: center;
  display: block;
  color: black;
  text-align: center;
  margin: 0px 0px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 0px;
  }


  .navbar .lineContainer {
    border: none; 
    margin-top: 0; 
    width: 100%; 
    padding: 0;
  }
}








/* might not need **/
.headerText {
  padding: 20px;
  text-align: center;
  font-weight: normal;
}
/* might not need **/
.homepageIntro {
  text-align: center;
  font-weight: normal;
}







/**** FONTS ******/
.homepageIntro,
.headerText,
footer,
.freeDownload,
.studyListing,
.contactMemoText,
.curriculumListing,
.freeDownloadListing,
.cycleListing {
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: black;
  margin-top: auto;
  padding: 20px;
  font-size: small;
  text-align: center;
  width: auto;
  color: white;
  margin-bottom: 0;
  bottom: 0;
  position: relative;
  width: auto;

}

.container {
  position: relative;
  text-align: center;
  width: 285px;
  height: 285px;
}

.downloadSVG {
  width: 55px;
  height: 55px;
}

.bottomText {
  display: none;
}



.freeDownloadText {
  text-decoration: none;
  display: inline-block;
  color: #939393;
}

.freeDownloadIcon {
  width: 10px;
  height: 10px;
}

.studyListingImg,
.freeDownloadListingImg {
  width: 285px;
  height: 285px;
  transition: transform 1s, filter 0.7s;
}


.container {
  position: relative;
  text-align: center;
  width: 285px;
  height: 285px;
  transition: transform 1s, filter 0.7s;
}

.container:hover {
  transform: scale(1.03);
  filter: brightness(.9);
}

.container:hover .bottomText {
  display: block;
  width: 55px;
  height: 55px;
}





/* CONTACT */
.contactHeader {
  font-weight: normal;
  text-align: center;
  /*background-color: rgba(208, 208, 217, 0.9); */
  padding-top: 55px;
  padding-bottom: 55px;
  font-family: 'Georgia', serif;
  margin-bottom: 0;
  color: white;


}

#linkFAQ {

  color: white;
}

.contactMemoText {
  font-weight: normal;
  text-align: center;
  width: 50%;
  padding-left: 25%;
  color: white;
}

.contactImgDiv {
  background-image: url('images/contactHeaderImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
}

.contactDiv {
  text-align: center;
  width: 40%;
  margin: auto;
  border-width: 7px;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 2%;

}

.contactInput,
.contactInputMessage {
  width: 50%;
  border: none;
  background-color: inherit;
  padding: 10px;
  margin: 10px;
  font-family: 'Verdana', 'Andale Mono', monospace;
  border: 2px solid black;
  transition: border 0.3s ease-out;

}

.contactInput:hover,
.contactInputMessage:hover {
  border: 2px solid #333;

}


.contactSubmitButton {
  border: none;
  background-color: white;
  color: #333;
  border: 2px solid #333;
  font-family: 'Verdana', 'Andale Mono', monospace;
  padding: 10px 12px 10px 12px;
  margin-top: 40px;
  transition: background-color 0.3s ease-out;
}

.contactSubmitButton:hover {
  background-color: #333;
  color: white;
}


/********************* Free Bible Studiesand Free downloads Pages **********************/

.bibleStudyHeader,
.freeDownloadsHeader,
.FAQHeader {
  text-align: center;
  font-family: 'Geneva', sans-serif;
  font-weight: normal;
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px
}

.bibleStudySubHeader,
.freeDownloadsSubHeader,
.FAQSubHeader {
  text-align: center;
  font-family: 'Geneva', sans-serif;
  font-weight: lighter;
  margin-top: 5px;
  color: #6f6e6e;
}

.freeKidDownloadsButton {

  border: 2px solid #333;
  background-color: white;
  padding: 6px 8px;
  margin-top: 10px;
  transition: 0.6s ease;
}


.freeKidDownloadsButton:hover {
  background-color: #333;
  color: white;
}

.freeBibleStudiesDivContainer,
.curriculumDivContainer,
.freeDownloadsDivContainer,
.cycleDivContainer {
  text-align: center;
  width: 100%;
}

.freeBibleStudiesDiv,
.curriculumDiv,
.cycleDiv {
  display: inline-block;
  text-align: center;
  width: 70%;
  justify-content: center;
}



.studyListing,
.freeDownloadListing {
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.studyListingText,
.freeDownloadListingText,
.cycleListingText {
  text-decoration: none;
  display: inline-block;
  color: black;

}

.bottomText {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.freeDownload {
  text-decoration: none;
}


/**************** Curriculum Page ***************/

.curriculumHeaderContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.curriculumLogoHeader {
  width: 22%;
  margin-left: 20%;

}

.curriculumHeader {
  width: 40%;
  float: right;
  margin-right: 15%;
  font-weight: normal;
  font-family: 'Geneva', sans-serif;

}

.curriculumHeaderButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 12px;
  font-size: 18px;
  float: right;
  margin-right: 30%;
  margin-top: -14%;
}

.curriculumHeaderButton:hover {
  background-color: black;
  color: white;
}

.curriculumListing {
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 310px;
  height: 310px;
  padding-bottom: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}


.curriculumListingText {
  text-decoration: none;
  display: inline-block;
  color: rgb(27, 24, 24);
  padding-top: 20px;
  font-size: 20px;

}

.curriculumListingImg {
  width: 310px;
  height: 310px;
}

.containerCurriculum {
  position: relative;
  text-align: center;
  width: 285px;
  height: 285px;
  transition: transform 1s, filter 0.7s;

}

.containerCurriculum:hover {
  filter: brightness(.9);
}

.containerCurriculum:hover .bottomText {
  display: block;
  width: 55px;
  height: 55px;
}




/*************** Cycle Specific *************/

.cycleHeaderContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 20px;

}

.cycleLogoHeader {
  width: 15%;
}


/**************** About Page *****************/

.blackDividerAbout {
  background-color: black;
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.aboutImgDiv {
  width: 50%;
  margin-left: 4%;
}

.aboutImg {
  width: 735px;
  height: 865px;
}

.aboutTextDiv {
  width: 46%;
  background-color: white;
  justify-content: center;
  display: flex;
  margin-right: 4%;
  margin-bottom: 4px;

}

.aboutHeaderText {
  font-family: "Arial Narrow", sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: black;
}

.aboutText {
  width: 70%;
  justify-content: center;
  padding-top: 10%;
  color: #6f6e6e;
  font-family: Didot, serif;
  font-size: 18px;

}







.blackDivider {
  background-color: black;
}




/************* Printed Books Page ***************/
.printedBooksTextDiv {
  text-align: center;
  font-family: "Arial Narrow", sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  color: #6f6e6e;
  padding-bottom: 30px;
}

.printedBookImgDiv {
  text-align: center;
  width: auto;
}

.printedBookImg {
  width: 300px;
  height: 300px;
  padding-bottom: 30px;

}

.printedBookButton {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  border: 3px #333 solid;
  background: white;
  color: #6f6e6e;
  padding: 10px 16px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: small;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: 0.6s ease;
}


.printedBookButton:hover {
  background-color: #333;
  color: white;
}



#detailedViewBibleStudiesDiv {
  justify-content: center;
}

.cycleHeading {
  font-family: 'Geneva', sans-serif;
  color: #6f6e6e;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.cycleListingImg {
  width: 230px;
  height: 230px;
  transition: transform 1s, filter 0.7s;
}

.cycleListing {
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-top: 0;

}

.cycleContainer {
  position: relative;
  text-align: center;
  width: 230px;
  height: 230px;
  transition: transform 1s, filter 0.7s;
}


.cycleContainer:hover {
  transform: scale(1.03);
  filter: brightness(.9);
}


.cycleDiv {
  display: inline-block;
  text-align: left;
  width: 70%;
  justify-content: center;
}

/** Commenting out for now, this is the download icon that goes at the bottom of the picture hen hovered */
/*.cycleContainer:hover .bottomText {
  display: block;
  width: 10px;
  height: 10px;
} */

.cycle1TeacherGuideDetailed {
  width: 595px;
  height: 595px;


}




/*************** Bible Study Detailed View ***************/

#detailedStudyContainer {
  text-align: center;
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

#detailedStudyImgContainer {
  width: 50%;
  padding-left: 25px;


}

#studyImage {
  width: 600px;
  height: 600px;
}

#detailedStudyTextContainer {
  width: 45%;
  padding-right: 40px;
  padding-top: 20px;
  text-align: left;

}

#studyTitle {
  font-size: 40px;
  font-family: 'Geneva', sans-serif;
  color: #333;
}

#studyDownloadButton {
  background-color: #333;
  color: white;
  font-size: 20px;
  padding: 8px 50px;
  border: #333 solid 2px;
  font-family: "Trebuchet MS", sans-serif;
  transition: 0.7s ease;
  justify-content: center;
  display: block;
  margin: 0 auto;

}

#studyDownloadButton:hover {
  color: #333;
  background-color: white;
}


#studyDescription {
  padding-top: 20px;
  font-size: 14px;
  font-family: 'Geneva', sans-serif;
  color: #333;

}
#popUpDownloadDiv {
  backdrop-filter: blur(7px);
  display: none;
  width: 800px;
  height: 400px;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 6px 10px 0 rgba(13, 13, 11, 0.4);
  text-align: center;
  z-index: 2;
}




/* Adjusting the style for the buttons container */
.sib-form-block__button {
  margin: 0 5px; /* Add some margin between the buttons */
}

.sib-form-block__button-wrapper {
  display: flex; /* Use flexbox to arrange the buttons horizontally */
  justify-content: center; /* Center the buttons horizontally */
}

/* Adjusting the style for individual buttons */
.sib-form-block__button, .declineBtn {
  font-size: 14px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #333;
  border-radius: 3px;
  border-width: 0px;
  padding: 10px 20px; /* Adjust button padding as needed */
  cursor: pointer;
}
