
body{
margin: 0px;
padding: 0px;
height: auto;
}


.homepageLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 40px;

}

.lampAndLightLogo{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-top: -14px;
    float: right;

} 



.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    width: auto;
    background-color: rgba(208, 208, 217, 0.9);
    backdrop-filter: blur(2px);
    font-size: 18px;
    padding: 14px 16px;
    padding-top: 18px;
    padding-bottom: 18px;

  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-family: Noto Sans, sans-serif;
    font-size: 18px;
    margin: 1%;
  }
  
  .navbar a:hover {
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #EAEFFA;
    text-decoration-thickness: 3px;
    text-underline-offset: 9px;
  }

  .headerText{
    /*background-color: rgba(208, 208, 217, 0.9);*/
    padding: 20px;
    text-align: center;
    font-weight: normal; 

  }

  .homepageBackgroundRiver{
    max-width:100%;
    max-height:100%;
}

.homepageIntro{
    text-align: center;
    font-weight: normal; 

}

/**** FONTS ******/
.homepageIntro, .headerText, footer{
    font-family: 'Roboto', sans-serif;


}
  
  
footer{
    background-color: rgba(208, 208, 217, 0.9);
    margin-top: auto;
    padding: 20px;  
    font-size: small;
    text-align: center;
    
    width: 100%;

}